<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <!-- Menú de navegación -->
    <nav>
        <ul>
            <li><a href="{% url 'inicio:base' %}">Inicio</a></li>
         
        </ul>
    </nav>
<main>
     <!-- Contenido específico de cada página -->
    {% block content %}


    {% endblock %}
</main>
   

    <!-- Pie de página -->
    <footer>
        <p>&copy; DJANGO PROJECT TEMPLATES 2026</p>
    </footer>
</body>
</html>