<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <header>
        <!-- Menú de navegación -->
        <nav>
            <ul>
                <li><a href="{% url 'inicio:index'%}">Inicio</a></li>
                <li><a href="{% url 'app2:v1'%}">v1</a></li>
                <li><a href="{% url 'app2:v2'%}">v2</a></li>
            </ul>
        </nav>
    </header>  
    <main>
        <!-- Contenido específico de cada página -->
        {% block content %}


        {% endblock %}
    </main>
    

        <!-- Pie de página -->
    <footer>
        <p>&copy; DJANGO PROJECT TEMPLATES 2026</p>
    </footer>
</body>
</html>